<div class="well my-drop-zone" nv-file-over="" nv-file-drop="" uploader="uploader">
    <h4 class="header-to-right"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 上传视频 </h4>
    <input type="file" nv-file-select="" uploader="uploader" ng-hide="uploading" id="file-selector"  accept="video/avi, video/mp4, video/mpeg, video/x-msvideo, video/x-ms-wmv, video/quicktime"/>
    <div ng-show="uploading" class="file-upload-status-panel">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" data-loading></span>
        <strong>{{ item.file.name }}</strong>
        <span ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
        <span>{{item.progress}}%</span>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" ng-style="{ 'width': item.progress + '%' }" ></div>
        </div>
        <div>
            正在上传，请不要刷新浏览器或关闭页面。
            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" style="float:right" ng-show="uploading">
                <span class="glyphicon glyphicon-ban-circle"></span> 取消
            </button>
        </div>
    </div>
</div>

<div class="pull-right video-filter-header">
    <label>
      <input type="checkbox" ng-model="mineOnly"> 只看自己
    </label>
</div>

<table class="table table-hover">
  <tr class="info">
    <th>名称</th>
    <th>上传人</th>
    <th>上传时间</th>
    <th>大小</th>
    <th>&nbsp;</th>
  </tr>
  <tr ng-repeat="video in getVideos()">
    <td>{{video.name}}</td>
    <td>{{video.createdBy.name}}</td>
    <td>{{video.createdAt | amDateFormat:'MM DD YYYY, h:mm:ss a'}}</td>
    <td>{{video.size/1024/1024|number:3}} MB</td>
    <td>
        <a ng-click="play(video)" data-toggle="modal" data-target="#play-video-modal"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> </a> &nbsp;
        <a ng-click="edit(video)" ng-show="canEdit(video)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a> &nbsp;
        <a ng-click="delete(video)" ng-show="canEdit(video)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a> &nbsp;
    </td>
  </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="play-video-modal" tabindex="-1" role="dialog" aria-labelledby="play-video-label" aria-hidden="true">
  <div class="modal-dialog">
    <video id="video-player" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}'  width="640" height="264">
    </video>
  </div>
</div>
